.mapDiv {
  width: 100%;
  height: 100vh;
  position: relative;
  border: none;
}

ul {
  position: absolute;
  max-width: 400px;
  height: 90%;
  background-color: #fff;
  padding: 20px 10px 10px 40px;
  border-radius: 10px;
  overflow-y: scroll;
  top: 0;
  right: 20px;
  z-index: 2;
  box-sizing: border-box;
}
