.mapDiv {
  width: 100%;
  height: calc(100% - 50px);
  position: relative;
}

/* removes outline around map */
.esri-view .esri-view-surface--inset-outline:focus::after {
  outline: none !important;
}
